<div class="header">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="d-flex justify-content-between w-100">
      <div class="d-flex align-items-center">
        <a id="nav-toggle" class="nav-icon me-2 icon-xs" href="/#">
          <!-- Your SVG icon goes here -->
        </a>
        <div class="ms-lg-3 d-none d-md-none d-lg-block">
          <form class="d-flex align-items-center">
            <input placeholder="Search" type="search" class="form-control">
          </form>
        </div>
      </div>
      <div class="navbar-right-wrap ms-2 d-flex nav-top-wrap navbar-nav">
        <ul class="navbar-right-wrap ms-auto d-flex nav-top-wrap navbar-nav">
          <li class="stopevent dropdown">
            <a class="btn btn-light btn-icon rounded-circle indicator indicator-primary text-muted" id="dropdownNotification" aria-expanded="false">
              <i class="fe fe-bell"></i>
            </a>
            <!-- Your notifications dropdown content goes here -->
          </li>
          <li class="ms-2 dropdown">
            <a class="rounded-circle" id="dropdownUser" aria-expanded="false">
              <div class="avatar avatar-md avatar-indicators avatar-online">
                <img alt="avatar" src="/images/avatar/avatar-1.jpg" class="rounded-circle">
              </div>
            </a>
            <!-- Your user dropdown content goes here -->
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
