
.row{
    margin-bottom: 15px;
}
button{
    margin-left: 15px;
}

.container{
    margin-top: 35px;
    width: 60vw;
    margin: auto;
}


@media screen and (max-width: 850px) {
    .container{
        width: 100vw;
    }
}